# Maven derleme çıktıları
**/target/

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws

# Wrapper ve mvn dosyaları
.mvn/
mvnw
mvnw.cmd

# Log dosyaları
logs/
*.log

# Alt modüllerin derleme klasörleri
kafka-consumer/target/
rest/target/
tcp/target/
coordinator/target/
