[submodule "rest"]
	path = rest
	url = https://github.com/erencsahin/rest.git
[submodule "Tcp"]
	path = tcp
	url = https://github.com/erencsahin/tcp.git
[submodule "kafka-consumer-postgresql"]
	path = kafka-consumer-postgresql
	url = https://github.com/erencsahin/kafka-consumer-postgresql.git

[submodule "kafka-consumer-opensearch"]
	path = kafka-consumer-opensearch
	url = https://github.com/erencsahin/kafka-consumer-opensearch.git
